.button {
  /*background-color: blue;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button .first_btn,
.second_btn {
  width: 100%;
  height: 50px;
  text-transform: uppercase;

  border: var(--border-btn);
  color: #0f0a0a;
  font-weight: 700;
  border-radius: 90px;
}
.button .first_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: none;
}
.first_btn i {
  position: relative;
  font-size: 24px;
}
.second_btn {
  background-color: var(--bg-btn);
}
@media screen and (min-width: 64rem) {
  .button {
    flex-direction: row;
  }
}
