.comment_container {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  max-width: 90%;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(39.7657px);
  border-radius: 24px;
  /*background-color: red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 80px auto;
}
.comment {
  /*width: 90%;*/
  font-family: var(--family-second);
  /*background-color: blue;*/
  font-weight: 700;
}
.comment_container p {
  font-family: var(--family-second);
  font-weight: 400;
  color: #0f0a0a;
  opacity: 0.5;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .comment_container {
    text-align: center;
  }
  .comment {
    font-size: 34px;
  }
  .comment_container p {
    font-size: 24px;
  }
}

