header {
  height: 81px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 25px;
  color: #000;
  margin-left: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--family-primary);
  font-weight: 900;
}
header nav {
  display: none;
}

.boton {
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--family-second);
  background: var(--bg-btn);
  padding: 13px 24px;
  border-radius: 90px;
  border: var(--border-btn);
  font-weight: 700;
  margin-right: 20px;
}
@media screen and (min-width: 48rem) {
  header nav {
    display: block;
  }
  header nav ul {
    display: flex;
    list-style: none;
  }
  header nav ul li {
    padding: 30px;
  }
  header nav ul li a {
    color: var(--text-links);
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.5;
    font-family: var(--family-second);
    font-weight: 700;
  }
  .active {
    opacity: 1;
  }
}
