.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.hero .imagen {
  /*width: 100%;*/
  height: 100%;
  /*background-color: blue;*/
  display: flex;
  justify-content: center;
}
.hero .imagen img {
  max-width: 100%;
  /*max-height: 100%;*/
  margin: 0 auto;
  /*background-color: blue;*/
}
.hero .text {
  min-width: 50%;
  /*background-color: green;*/
}
.hero .text h1 {
  font-size: 59px;
  font-weight: 700;
  font-family: var(--family-second);
}
.hero .text h1 span {
  font-size: 48px;
  font-weight: 700;
}
.hero .text p {
  font-size: 16px;
  font-family: var(--family-second);
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
}
.hero .text a {
  color: var(--text-links);
  font-family: var(--family-second);
  font-weight: 700;
}
.hero .text a i {
  margin-top: 16px;
}
.hero .text a i span {
  margin-left: 16px;
  text-decoration: underline;
}

@media screen and (min-width: 64rem) {
  .hero {
    flex-direction: row-reverse;
    align-items: center;
  }
  /*.hero .imagen {*/
  /*min-width: 500px;*/
  /*min-height: 500px;*/
  /*}*/
}
