@import "header.css";
@import "hero.css";
@import "description_project.css";
@import "project.css";
@import "./Components/button.css";
@import "./Components/tittle.css";
@import "comments.css";
@import "contact.css";
@import "footer.css";
@import "./Components/wrapper.css";

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

:root {
  --bg-color: linear-gradient(135deg, #fad7a1 0%, #e96d71 100%);
  --family-primary: "Poppins", sans-serif;
  --family-second: "Oxygen", sans-serif;
  --bg-btn: #42e2b8;
  --border-btn: 2px solid #0f0a0a;
  --text-logo: #0f0a0a;
  --text-links: #0f0a0a;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}
.container {
  /*background: blue;*/
  width: 90vw;
  margin: 0 auto;
}
html {
  height: auto;
  scroll-behavior: smooth;
}
body {
  /*height: calc(100%+100px);*/
  background: var(--bg-color);
  min-block-size: 100vh;
  /*position: relative;*/
}
