.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: red;*/
  margin-top: 50px;
}

.projects p {
  margin-top: 40px;
  font-size: 24px;
  /*line-height: 38px;*/
  text-align: center;
  font-weight: 700;
}
.projects p:first-child {
  font-weight: 400;
}
.projects i {
  font-size: 60px;
}
.projects__content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}
.projects__content .botones{
  display: flex;
  flex-direction: column;
gap: 20px;
}
.projects__tittle {
  color: #42e2b8;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  padding: 16px;
  background-color: #0f0a0a;
  box-shadow: -7px 7px #fff;
  margin-left: 25px;
  font-family: var(--family-second);
}
.projects__content p {
  font-weight: 400;
  text-align: left;
  font-family: var(--family-second);
}
.projects__content .boton {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 50px;
}
.projects__content .boton:last-child {
  background-color: var(--bg-btn);
}
.projects__content button i {
  font-size: 30px;
  letter-spacing: 10px;
}

.projects__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .projects__content {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .projects__content img {
    width: 50%;
  }
  .projects__text {
    width: 50%;
    /*background-color: red;*/
  }
  .projects__content .boton{
    max-width: 300px;
  }
  .projects__content .botones {
    display: flex;
    flex-direction: row;
  }
}
