.tittle {
  color: #42e2b8;
  padding: 8px 8px;
  background-color: #000;
  text-decoration: none;
  font-size: 34px;
  box-shadow: -4px 4px 0px #fff;
  font-family: var(--family-second);
  font-weight: 700;
}
